*{
    font-family: 'roboto', sans-serif;
    box-sizing: border-box;
}
.pokemons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pokemon {
    margin: 0.5rem;
    padding: 1rem;
    background-color: #49d8ba;
    border-radius: 1rem;
    color: #fff;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon img {
    max-width: 100%;
    height: auto;
}

    
}